/* imports */
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Permanent+Marker&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* zabalang styles :) */
/*nothing*/

/* whole website */

body {
    background-color: #000000
}

/* top navigation bar */

nav {
    font-family: Poppins;
}

nav a {
    color: white;
    text-decoration: none;
    text-align: left;
    padding-left: 10px;
    font-size: 19px;
}

nav .navitem {
    position: absolute;
    right: 20px;
    padding-right: 15px;
}

nav .navitem a {
    padding-right: 5px;
    color: white;
    display: inline;
    overflow: hidden;
    transition-duration: 0.35s;
}

nav .navitem a:hover {
    padding-right: 5px;
    color: #ff3290;
    display: inline;
    overflow: hidden;
    transition-duration: 0.35s;
}

/* top nav bar logo */

nav img {
    color:white;
    width:20px;
    height:20px;
    padding-left: 5px;
    padding-top: 5px;
    padding-bottom: 0px;
    margin: 0px;
}

/* Side bar menu */

.sidebarmenu button {
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    border: 3px solid white;
    border-radius: 8px;
    background-color: black;
    color: white;
    font-family: Lato;
    transition-duration: 0.4s;
}

.sidebarmenu button:hover {
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    border: 3px solid white;
    border-radius: 1px;
    background-color: white;
    color: black;
    font-family: Lato;
    transition-duration: 0.4s;
}
